Package: adamcom-dbgsym
Package-Type: ddeb
Source: adamcom
Version: 1.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Huseyin B <aawifoa@gmail.com>
Installed-Size: 35
Depends: adamcom (= 1.1-1)
Section: debug
Priority: optional
Description: debug symbols for adamcom
Build-Ids: 84a61ce3eefe0c5ed246ea7dba18e964a4391210
