Package: adamcom-dbgsym
Package-Type: ddeb
Source: adamcom
Version: 1.0-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Huseyin B <aawifoa@gmail.com>
Installed-Size: 76
Depends: adamcom (= 1.0-4)
Section: debug
Priority: optional
Description: debug symbols for adamcom
Build-Ids: e41cbfc364883af34c97473efae1e80f032f19db
