Source: adamcom
Section: utils
Priority: optional
Maintainer: Huseyin B <aawifoa@gmail.com>
Build-Depends: debhelper (>= 11), libreadline-dev
Standards-Version: 4.5.1
Homepage: https://example.com/adamcom

Package: adamcom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple serial-port terminal application
 “adamcom” is a lightweight C++ program that allows users to send and
 receive arbitrary byte streams over a serial interface. It supports
 configurable baud rate, data bits, parity, stop bits, and flow control,
 and works with both virtual (tty0tty) and physical serial ports.
